/*
    Widget States:
    NORMAL
    ACTIVE
    PRELIGHT
    SELECTED
    INSENSITIVE
*/

/* Default button style */
Button {
    /* Normal */
    BorderWidth: 0;
    BackgroundColor: #999999ff;
    Color: #000000ff;
    FontSize: 24;
    Padding: 15;
}
Button:PRELIGHT {
    /* Hover */
    BackgroundColor: #444444ff;
    Color: #ffffffff;
}
Button:ACTIVE {
    /* Click */
    BackgroundColor: #666666ff;
    Color: #eeeeeeff;
}

/* Default label style */
Label {
    Color: #000000ff;
}

/* Main menu style */
#lblMenuTitle {
    FontSize: 64;
    FontName: data/square-deal.ttf;
}

/* Options screen style */
#winOptionsMain {
    BackgroundColor: #999999aa;
    BorderWidth: 0;
}
#lblOptionsTitle {
    FontSize: 48;
}
#lblOptionsMusic, #lblOptionsSfx {
    FontSize: 16;
}

/* Pause screen style */
#winPauseMain {
    BackgroundColor: #555555ee;
    BorderWidth: 0;
}
#lblPauseTitle {
    FontSize: 48;
}