/*
    Widget States:
    NORMAL
    ACTIVE
    PRELIGHT
    SELECTED
    INSENSITIVE
*/

/* Default button style */
Button {
    /* Normal */
    BorderWidth: 0;
    BackgroundColor: #444444ff;
    Color: #008888ff;
    FontSize: 24;
    Padding: 14;
}
Button:PRELIGHT {
    /* Hover */
    BackgroundColor: #999999ff;
    Color: #000000ff;
}
Button:ACTIVE {
    /* Click */
    BackgroundColor: #666666ff;
    Color: #eeeeeeff;
}

/* Default label style */
Label {
    Color: #ffffffff;
}

/* Main menu style */
#lblMenuTitle {
    FontSize: 100;
    FontName: data/Ticketing.ttf;
    Color: #00ffffff;
}

/* Select screen style */
#lblSelectTitle {
    FontSize: 72;
    FontName: data/fgd.ttf;
    Color: #00ffffff;
}

#btnSelectLevel1,
#btnSelectLevel2,
#btnSelectLevel3,
#btnSelectLevel4 {
    BackgroundColor: #384458ff;
    Padding: 0;
}

#btnSelectLevel1:PRELIGHT,
#btnSelectLevel2:PRELIGHT,
#btnSelectLevel3:PRELIGHT,
#btnSelectLevel4:PRELIGHT {
    BackgroundColor: #8899BBff;
    Padding: 0;
}

#btnSelectLevel5,
#btnSelectLevel6,
#btnSelectLevel7,
#btnSelectLevel8 {
    BackgroundColor: #44554Cff;
    Padding: 0;
}

#btnSelectLevel5:PRELIGHT,
#btnSelectLevel6:PRELIGHT,
#btnSelectLevel7:PRELIGHT,
#btnSelectLevel8:PRELIGHT {
    BackgroundColor: #99BB99ff;
    Padding: 0;
}

#btnSelectLevel9,
#btnSelectLevel10,
#btnSelectLevel11,
#btnSelectLevel12 {
    BackgroundColor: #553A55ff;
    Padding: 0;
}

#btnSelectLevel9:PRELIGHT,
#btnSelectLevel10:PRELIGHT,
#btnSelectLevel11:PRELIGHT,
#btnSelectLevel12:PRELIGHT {
    BackgroundColor: #886A88ff;
    Padding: 0;
}

/* Options screen style */
#winOptionsMain {
    BackgroundColor: #333333f0;
    BorderWidth: 0;
}
#lblOptionsTitle {
    Color: #00ffffff;
    FontSize: 64;
    FontName: data/fgd.ttf;
}
#tglOptionsMusic, #tglOptionsSfx, #tglOptionsTrail, #tglOptionsPower, #tglOptionsFullscreen, #tglOptionsEdges {
    Color: #008888ff;
    FontSize: 16;
}
Scale {
    Color: #ff0000ff;
}
#btnOptionsErase {
    FontSize: 16;
    Padding: 8;
}
#btnOptionsErase:PRELIGHT {
    BackgroundColor: #FF9999FF;
}

/* Pause screen style */
#winPauseMain {
    BackgroundColor: #333333f0;
    BorderWidth: 0;
}
#lblPauseTitle {
    Color: #00ffffff;
    FontSize: 64;
    FontName: data/fgd.ttf;
}

/* Win screen style */
#winWinMain {
    BackgroundColor: #333333f0;
    BorderWidth: 0;
}
#lblWinTitle {
    Color: #00ffffff;
    FontSize: 72;
    FontName: data/fgd.ttf;
}
#lblWinTime {
	FontSize: 32;
	FontName: data/fgd.ttf;
}

/* Death screen style */
#winDeathMain {
    BackgroundColor: #333333f0;
    BorderWidth: 0;
}
#lblDeathTitle {
    Color: #00ffffff;
    FontSize: 72;
    FontName: data/fgd.ttf;
}
